[submodule "third_party/requests-futures"]
	path = third_party/requests-futures
	url = https://github.com/ross/requests-futures
[submodule "third_party/ycmd"]
	path = third_party/ycmd
	url = https://github.com/Valloric/ycmd
[submodule "third_party/requests_deps/idna"]
	path = third_party/requests_deps/idna
	url = https://github.com/kjd/idna
[submodule "third_party/requests_deps/certifi"]
	path = third_party/requests_deps/certifi
	url = https://github.com/certifi/python-certifi
[submodule "third_party/requests_deps/chardet"]
	path = third_party/requests_deps/chardet
	url = https://github.com/chardet/chardet
[submodule "third_party/requests_deps/urllib3"]
	path = third_party/requests_deps/urllib3
	url = https://github.com/urllib3/urllib3
[submodule "third_party/requests_deps/requests"]
	path = third_party/requests_deps/requests
	url = https://github.com/requests/requests
[submodule "third_party/python-future"]
	path = third_party/python-future
	url = https://github.com/PythonCharmers/python-future
