[submodule "third_party/requests-futures"]
	path = third_party/requests-futures
	url = https://github.com/ross/requests-futures
[submodule "third_party/requests"]
	path = third_party/requests
	url = https://github.com/kennethreitz/requests
[submodule "third_party/ycmd"]
	path = third_party/ycmd
	url = https://github.com/Valloric/ycmd
