flake8                >= 3.0.0
flake8-comprehensions >= 1.4.1
flake8-ycm            >= 0.1.0
PyHamcrest            >= 1.10.1
codecov               >= 2.0.5
coverage              <5.0
covimerage            >= 0.2.0
pytest
pytest-cov
