flake8                >= 3.0.0
flake8-comprehensions >= 1.4.1
flake8-ycm            >= 0.1.0
mock                  >= 1.0.1
nose                  >= 1.3.7
PyHamcrest            >= 1.8.0
# This needs to be kept in sync with submodule checkout in
# third_party/ycmd/third_party
future                == 0.15.2
coverage              >= 4.2
codecov               >= 2.0.5
